---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Hero from "@/components/Hero";
import Specialities from "@/components/Specialities";
import Benefits from "@/components/Benefits";
---

<Layout>
  <Navbar client:load />
  <main>
    <div id="hero">
      <Hero client:load />
    </div>
	<div id="especialidades">
		<Specialities client:load/>
	</div>
	<div id="benefits">
		<Benefits client:load/>
	</div>
  </main>
</Layout>
