---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Hero from "@/components/Hero";
import Specialities from "@/components/Specialities";
import Benefits from "@/components/Benefits";
import AboutSection from "@/components/AboutUs";
import Formations from "@/components/Formations";
import Results from "@/components/Results";
import Testimonials from "@/components/Testimonials";
import FAQ from "@/components/FAQ";
import Contact from "@/components/Contact";
import Footer from "@/components/Footer";

import heroImage from "../assets/gym.jpg";
import aboutImage from "src/assets/pic1.png"
import navImage from "src/assets/logo.png"

---

<Layout>
  <Navbar client:load imagePath={navImage.src}/>
  <main>
    <div id="hero">
      <Hero client:load imagePath={heroImage.src}/>
    </div>
	<div id="metodologias">
		<Specialities client:load/>
	</div>
	<div id="beneficios">
		<Benefits client:load/>
	</div>
  <div id="sobre">
    <AboutSection client:load imagePath={aboutImage.src}/>
  </div>
  <div id="formacoes">
    <Formations client:load/>
  </div>
  <div id="resultados">
    <Results client:load/>
  </div>
  <div id="avaliacoes">
    <Testimonials client:load/>
  </div>
  <div id="faq">
    <FAQ client:load/>
  </div>
  <div id="contatos">
    <Contact client:load/>
  </div>
  <div id="footer">
    <Footer client:load/>
  </div>
  </main>
</Layout>
